body,
html {
    font-family: 'Noto Sans', sans-serif;
    background-color: #FFA85A;
}

.btn {
    width: 35px;
    border-radius: 100%;
    margin: .5em;
    font-size: 110%;
    border: 10px;
}

.btn-row-cl {
    text-align: left;
}

#calc {
    text-align: center;
    background: linear-gradient(135deg, #686868 0%, #38383a 28%);
    border-radius: 6px 6px 18px 18px;
    border-style: solid;
    border-color: #202024;
    border-width: 0 5px 5px 0;
    padding: 2em;
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 3px 6px 2px;
    width: 20em;
}

#calcWrapper {
    padding: 15%;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}

.dec,
.operator,
#clear {
    background: linear-gradient(135deg, #edcece 0%, #8f0222 40%, #930000 100%);
    color: white;
}

#equals {
    background: linear-gradient(135deg, #f9f2d9 0%, #efaf00 100%);
    color: #393A40;
}

.hidn {
    visibility: hidden;
}

input[type="text"] {
    text-align: right;
}

#nums {
    font-family: "Press Start 2p", sans-serif;
    font-size: 120%;
    position: relative;
    width: 89%;
    margin: 0 auto;
}

.number {
    background: linear-gradient(135deg, #fcfcfc 0%, #00002d 40%);
    color: white;
}

#numswrapper {
    padding-bottom: 1.5em;
}